%tick
  stroke: #403e54
  stroke-width: 1px

%gridline
  stroke: white
  stroke-width: 1px
  opacity: 0.1

body
  background: #b4b1ca

.dot
  fill: #dbd9fb

.dot-nominee
  fill: #e19f2e

.dot-winner
  fill: #fcd933

.x-tick
  @extend %tick

.y-tick
  @extend %tick

.x-gridline
  @extend %gridline

.y-gridline
  @extend %gridline
