$color: #222234

%tick
  stroke: $color
  stroke-width: 1px

%gridline
  stroke: white
  stroke-width: 1px
  opacity: 0.1

%label
  fill: $color
  font-size: 14px

body
  background: #b4b1ca
  font-family: sans-serif

.dot
  fill: #dbd9fb

.dot-nominee
  fill: #e19f2e

.dot-winner
  fill: #fcd933

.x-tick
  @extend %tick

.x-tick-label
  @extend %label

.y-tick
  @extend %tick

.y-tick-label
  @extend %label

.x-gridline
  @extend %gridline

.y-gridline
  @extend %gridline
