$foreground: #222234
$legend-background: #2f2d48
$legend-divider: #534d78
$legend-text: #cdccdd
$info: #4dfc9d
$sidebar-width: 180px
$sidebar-padding: 20px
$chart-margin: 30px

%tick
  stroke: $foreground
  stroke-width: 1px

%gridline
  stroke: white
  stroke-width: 1px
  opacity: 0.1

%label
  fill: $foreground
  font-size: 16px

%axis-label-text
  color: $foreground
  font-weight: normal
  font-size: 28px

body
  padding: 20px
  background: #b4b1ca
  font-family: 'Open Sans Condensed', sans-serif

h1
  margin: 0 0 20px
  padding-left: $sidebar-width + $chart-margin
  font-size: 36px
  color: $foreground
  text-shadow: 1px 1px 1px rgba(255,255,255,.5)

.chart
  position: relative
  padding-left: $sidebar-width
  margin-bottom: 50px

#chart
  margin-right: 20px

#legend-overlay
  position: absolute
  top: 0
  left: 0
  width: $sidebar-width

.dot
  fill: #dbd9fb

.dot-nominee
  fill: #e19f2e

.dot-winner
  fill: #fcd933

.dot-selected
  fill: transparent
  stroke: $info
  stroke-width: 1.5px

.y-axis-label
  position: absolute
  top: 0
  left: 0
  width: $sidebar-width + $chart-margin
  border-top: 2px solid transparentize($foreground, .3)
  strong
    @extend %axis-label-text

.x-axis-label
  position: absolute
  left: $sidebar-width + $chart-margin - 1
  height: 80px
  border-left: 2px solid transparentize($foreground, .3)
  strong
    position: absolute
    bottom: 0
    left: 5px
    width: 400px
    @extend %axis-label-text

.x-tick
  @extend %tick

.x-tick-label
  @extend %label

.y-tick
  @extend %tick

.y-tick-label
  @extend %label

.x-gridline
  @extend %gridline

.y-gridline
  @extend %gridline

.legend
  position: absolute
  left: 0
  width: $sidebar-width - $sidebar-padding
  padding: 15px
  background: $legend-background
  color: $legend-text
  h2
    margin: 0 0 5px
    padding-bottom: 5px
    border-bottom: 2px solid $legend-divider
    font-size: 16px
    font-weight: bold
  p
    margin: 0 0 3px
    font-size: 15px

.year-filter
  margin: 0 0 10px $sidebar-width + $chart-margin

.year-toggle
  position: relative
  display: inline-block
  margin-right: 10px
  padding: 0 15px 0 32px
  height: 30px
  line-height: 30px
  border-radius: 15px
  background: $legend-background
  color: $legend-text
  input
    position: absolute
    left: 12px
    top: 8px

.info
  position: absolute
  top: 20px
  left: $sidebar-width + $chart-margin + 20px
  color: $info
  opacity: 0

.info-film
  margin: 3px 0 0
  font-weight: normal
  white-space: nowrap
  border-top: 2px solid $info

.info-film-name
  font-weight: bold

.info-score
  margin-right: 5px
  font-weight: bold
  span
    font-weight: normal

.explanation
  padding-left: $sidebar-width + $chart-margin
  margin-top: 80px
  font-size: 22px
  width: 40em
  color: $foreground
  a
    color: $foreground
